{{ $recentArticles := 5 }}
{{ $recentArticles = .Site.Params.homepage.showRecentItems }}
{{ $orderByWeight := .Site.Params.homepage.orderByWeight | default false }}
{{ $s := newScratch }}
{{ if $orderByWeight }}
  {{ $s.Set "pages" (.Paginate (where .Site.RegularPages.ByWeight "Type" "in" .Site.Params.mainSections)).Pages }}
{{ else }}
  {{ $s.Set "pages" (.Paginate (where .Site.RegularPages.ByDate.Reverse "Type" "in" .Site.Params.mainSections)).Pages }}
{{ end }}

<div class="relative w-screen max-w-[1600px] px-[30px]" style="left: calc(max(-50vw,-800px) + 50%);">
  <section
    class="w-full grid gap-4 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5">
    {{ range first $recentArticles ($s.Get "pages") }}
    {{ partial "article-link/card.html" . }}
    {{ end }}
  </section>
</div>
